#opciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.btn-opcion {
    background: #fff;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    transition: 0.3s;
}

.btn-opcion:hover {
    background: #007bff;
    color: white;
}
